<div class="popup"  >
  <div class="b-pupup" (click)="exitLogin()" ></div>
    <div class="content-popup"> 
        <img id="advice" src="/src/assets/img/advice.png" alt="">
      <div >
        <input class="input-popup" type="text" placeholder="usuario">
        <input  class="input-popup" type="password" placeholder="contraseña">
        <div id="btn-login">Entrar </div>
        <br>
      </div>
      <div id="extras">
        <div id="l-ext"><a class="s-ext btn-ext">olvide la contraseña</a> <b class="s-ext">/</b> <a  class="btn-ext">Registrarme</a> </div>
        
        
        
        
        
    </div>
</div>
</div>